.rateContainer {
    display: flex;
    flex-direction: column;
  }
  
  .unlimited {
    color: rgb(164, 164, 217); 
  }
  
  .price {
    color: rgb(80, 77, 101); 
  }
  
  .speed {
    color: rgb(148, 132, 132); 
  }
  
  .traffic {
    color: rgb(223, 217, 205); 
  }