.rateContainer {
    display: flex;
    flex-direction: column;
  }
  
  .unlimited {
    color: rgb(194, 150, 151);
  }
  
  .price {
    color: rgb(177, 80, 92);
  }

  .speed {
    color: rgb(148, 132, 132); 
  }
  
  .traffic {
    color: rgb(223, 217, 205); 
  }
  
  .highlighted {
    border: 2px solid rgb(93, 93, 186);
  }