.rateContainer {
    display: flex;
    flex-direction: column;
  }
  
  .unlimited {
    color: rgb(117, 194, 146);
  }
  
  .price {
    color: rgb(111, 158, 111); 
  }
  
  .speed {
    color: rgb(148, 132, 132); 
  }
  
  .traffic {
    color: rgb(223, 217, 205); 
  }